name: DevSecOps Pipeline

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Security Check - SCA (pip-audit)
        run: |
          pip install pip-audit
          pip-audit -r requirements.txt

      - name: Security Check - SAST (Bandit)
        run: |
          pip install bandit
          bandit -r .

      - name: Security Check - Secrets (Gitleaks)
        run: |
          wget https://github.com/gitleaks/gitleaks/releases/download/v8.18.2/gitleaks_8.18.2_linux_x64.tar.gz
          tar -xf gitleaks_8.18.2_linux_x64.tar.gz
          rm README.md
          chmod +x gitleaks
          ./gitleaks detect --source . -v --no-git
